<header>
    <nav>
      <a href="{% url 'core:index' %}" class="brand">ECommerce</a>
      <ul>
        <li class="dropdown">
            <a href="{% url 'core:product_list' %}">Products <i class="fa-solid fa-caret-down"></i></a>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'core:category_product_list' category.cid %}">{{ category.title }}</a></li>
                {% endfor %}
                <hr>
                <a href="{% url 'core:category_list' %}">View All Categories</a>
            </ul>
        </li>        
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'userauths:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'userauths:login' %}">Login</a></li>
        {% endif %}
      </ul>
      <span><i class="fa-solid fa-cart-shopping"></i></span>
    </nav>
  </header>