{% extends 'partials/base.html' %}
{% block body_content %}

<section class="Categories">
  {% include 'partials/navbar.html' %}

  <main>
    {% include 'partials/messages.html' %}

    <section class="Products container pt-5">
        <h3>We have {{ categories.count }} categories you can browser</h3>
        <div class="categories_wrapper">
            {% for category in categories %}
            <div class="border text-center category">
                <div class="image">
                    <a href="{% url 'core:category_product_list' category.cid %}">
                    <img src="{{ category.image.url }}" height="200" />
                    </a>
                </div>

                <div class="text p-3">
                    <p class="m-0"><b><a href="{% url 'core:category_product_list' category.cid %}">{{ category.title }}</a></b></p>
                    <p class="m-0">{{ category.product_count }} product{{ category.product_count|pluralize:"s" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
  </main>
</section>

{% endblock body_content %}
