{% extends 'partials/base.html' %} {% block body_content %}

<section class="Home">
  <header>
    <nav>
      <a href="#" class="brand">ECommerce</a>
      <ul>
        <li><a href="#">Shop</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'userauths:login' %}">Login</a></li>
      </ul>
      <span>Cart</span>
    </nav>
  </header>

  <main>
    <section class="Hero">
      <div class="hero_content">
        <h1>ECommerce</h1>
        <a href="#">Shop Now</a>
      </div>
    </section>
  </main>
</section>

{% endblock body_content %}
