{% extends 'partials/base.html' %}
{% block body_content %}

<section class="Products">
  {% include 'partials/navbar.html' %}

  <main>
    {% include 'partials/messages.html' %}

    <section class="ProductDetails pt-5">        
        <div class="container">
            <h3>Product Details</h3>
            <div class="row">
                <div class="col col-lg-5">
                    <div class="image text-center">
                        <img src="{{ product.image.url }}" height="320" />
                    </div>
                    <div class="images_slider d-flex p-2">
                        {% for image in product_images %}
                            <img src="{{ image.images.url }}" alt="Product" width="120" class="ml-2">
                        {% endfor %}
                    </div>
                </div>

                <div class="col col-lg-7">
                    <h4>{{ product.title }}</h4>
                    <p>{{ product.description|truncatechars:100|safe }}</p>
                    <p>$<span id="current_product_price">{{ product.price }}</span></p>
                    <div class="d-flex align-items-center">                        
                        <input type="number" name="product_quantity" id="product_quantity" value="1" />                                                
                        <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}">
                        <input type="hidden" name="product_title" id="product_title" value="{{ product.title }}">
                        <button type="submit" class="btn btn-sm btn-success ms-2" id="add_to_cart_btn"><i class="fa-solid fa-cart-shopping"></i></button>                        
                    </div>                    
                </div>
            </div>

            {% if related_products %}
                <h4 class="mt-5">Related Products</h4>
            {% endif %}
            <div class="products_wrapper">                
                {% for related in related_products %}
                <div class="product border">
                    <div class="image text-center">
                        <a href="{% url 'core:product_detail' related.pid %}">
                            <img src="{{ related.image.url }}" height="200" />
                        </a>
                    </div>

                    <div class="text p-3">
                        <p class="m-0">{{ related.category }}</p>
                        <p class="m-0">-{{ related.get_percentage|floatformat:0 }}%</p>
                        <p class="m-0"><b><a class="text-dark" href="{% url 'core:product_detail' related.pid %}">{{ related.title }}</a></b></p>
                        <p class="m-0">{{ related.rating }}</p>
                        <p class="m-0">by {{ related.vendor.title }}</p>
                        <div class="footer d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <span class="text-success me-2"><b>${{ related.price }}</b></span>
                                <span class="text-danger"><i><s>${{ related.old_price }}</s></i></span>
                            </div>

                            <div>
                                <span class="btn btn-sm btn-success"><i class="fa-solid fa-cart-shopping"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
  </main>
</section>

{% include "partials/jquery_scripts.html" %}

{% endblock body_content %}
