{% extends 'partials/base.html' %}
{% block body_content %}

<main>
    <section class="Auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5">
                    <h4>Login</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-success">Login</button>
                    </form>

                    <p>Don't have an account? <a href="{% url 'userauths:signup' %}">Signup</a></p>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock body_content %}